@import url("https://fonts.googleapis.com/css?family=Oxygen+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:300&display=swap");
@import url('https://fonts.googleapis.com/css?family=Montserrat:300&display=swap');
/* Colors */
:root {
  --dark: #30323d;
  --light: #eef1ef;
  --darkerLight: #a9b4c2;
  --accent: #7c0055;
  --darkAccent:  #F7C138;
  background-color: var(--dark);
}

p {
  font-size: .5em
}

h1, h2, .Gallery-Title {
  font-family: Montserrat, serif;
  font-variant: small-caps;
}

html, body{
  overflow-x: hidden;
}


.App {
  height: 100%;
  width: 100%;
  padding: 1px;
  font-family: Raleway, sans-serif;
  text-align: center;
  color: var(--dark);
  margin-left: 20px;
}

.code-block2 {
  font-size: 100em;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
  text-align: left;
  margin: 5px 5px 0;
  font-variant: small-caps;
}

/*
Misc
 */
.Line span {
  display: inline-block;
  position: relative;
}
.Line span:after {
  content: "...";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid var(--darkAccent);
  top: .5em;
  width: 20vw;
}
.Line span:after {
  left: 100%;
  margin-left: 15px;
}

/*
  Grid
*/

.GridItem-EditButton {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--accent);
  color: var(--dark);
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 1px;
  border-radius: 50%;
}

.react-grid-layout {
  position: relative;
  transition: height 200ms ease;
}
.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top;
}
.react-grid-item.cssTransforms {
  transition-property: transform;
}
.react-grid-item.resizing {
  z-index: 1;
  will-change: width, height;
}
.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: transform;
}

.react-grid-item.react-grid-placeholder {
  background: var(--accent);
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.grid-item {
  background-color: var(--light);
}

.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  cursor: se-resize;
}

.react-grid-item > .react-resizable-handle::after {
  content: "";
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 5px;
  height: 5px;
  border-right: 2px solid rgba(0, 0, 0, 0.4);
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

/* Editor */

.popup {
  display: flex;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
}

input {
  border: none;
  background: transparent;
  border-bottom: 2px solid var(--darkerLight);
  padding: 10px;
  color: var(--dark);
  font-size: 1em;
}
input::placeholder {
  color: var(--darkerLight);
}
:focus {
  outline: none;
}

#editor-window {
  background: var(--light);
  color: var(--dark);
  width: 80vw;
  height: 80vh;
  overflow: hidden;
  padding: 20px;
  z-index: 1000;
}

.SlateEditor {
  background: var(--light);
  font-family: "Raleway", serif;
  font-size: 14px;
  text-align: left;
  overflow: hidden;
  height: 80%;
  width: 100%;
}

.SlateEditor-Content{
  overflow-y: auto;
  overflow-x: hidden;
  text-align: left;
  height: inherit;
  border-top: solid 1px var(--darkerLight);
  padding: 5px;
}
.tooltip {
    z-index: 1000;
}

/* EditorWindow */
.EditorWindow-Button  {
  position: relative;
  float: right;
  width: 50px;
  height: 50px;
}

.GridItem-EditButton {
  height: 15%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.4);
}

button {
  background-color: transparent;
  border: none;
}
.toggleable {
  transition: color 300ms;
  color: var(--darkerLight);

}
.toggleable:hover {
  color: var(--darkAccent);
}
.toggled {
  color: var(--darkAccent);
}


.Clickable.item-edit-button:hover {
  color: var(--accent);
}

.ImageItem {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-left: 0;
}

.TextItem {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding-left: 5px;
}

.edit-bar {
  top: 0;
  width: 20px;
}
.edit-bar {
  position: fixed;
  top: 0;
  width: 20px;
}
.gallery-content {
  margin-left: 30px;
  width: 100%;
}

button {
  cursor: pointer;
}
#image-window {
  background: var(--light);
  color: var(--dark);
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 20px;
  z-index: 1000;
}

.Gallery-Title {
  color: var(--light);
}


.Clickable {
  transition: color 400ms;
  color: var(--darkerLight)
}
.Clickable:hover {
  cursor: pointer;
  color: var(--darkAccent)
}

#section-window {
  background: var(--light);
  color: var(--dark);
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 20px;
  z-index: 1000;
}

.section-bar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  padding: 0;
}

.gallery-section {
  transition: margin 300ms linear;
  width: 100%;
}

.gallery-section.shifted {
  margin-left: 80px;
}
.gallery-section.unshifted {
  margin-left: 20px;
}

.Gallery-Grid {
  width: 100%;
  box-sizing:border-box;
}

.section-button {
  position: static;
  width: 100px;
  margin: 0;
  height: 2em;
  padding: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  border-bottom: 1px solid var(--darkerLight);
  color: var(--light);
  transition: color 500ms;
}
.section-button.toggled {
  color: var(--darkAccent)
}


.SortableList {
  position: static;
  display: block;
  width: 100%;
  border-radius: 3px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
}

.section-button.shrunk {
  height: 30px;
  width: 100%;
}

.section-button.expanded {
  height: auto;
}
.section-bar, .section-button {
  transition: width 300ms, height 300ms;
}
.section-bar.expanded {
  width: 100px;
}
.section-bar.shrunk {
  width: 50px;
  white-space:nowrap;
}

.section-toggle {
  width: 50px;
  position: static;
  display: block;
}

.hidden {
  display: none;
}

.item-edit-button {
  float: right;
}

.grid-item {
  overflow: hidden;
}

.grid-item-text {
  overflow-y: hidden;
  width: auto;
  height: 100%;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

.grid-item-text:hover { overflow-y: scroll}
