@import url("https://fonts.googleapis.com/css?family=Oxygen+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300|Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
/* Colors */
:root {
  --dark: #30323d;
  --light: #eef1ef;
  --darkerLight: #a9b4c2;
  --accent: #7c0055;
  background-color: var(--light);
}

.App {
  font-family: "Raleway", sans-serif;
  text-align: center;
  color: var(--light);
  margin-left: 20px;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
  text-align: left;
  margin: 5px 5px 0;
  font-variant: small-caps;
}

/*
  Grid
*/

.GridItem-EditButton {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--accent);
  color: var(--dark);
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 1px;
  border-radius: 50%;
}

.react-grid-layout {
  position: relative;
  transition: height 200ms ease;
}
.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top;
}
.react-grid-item.cssTransforms {
  transition-property: transform;
}
.react-grid-item.resizing {
  z-index: 1;
  will-change: width, height;
}
.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: transform;
}

.react-grid-item.react-grid-placeholder {
  background: var(--accent);
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.react-grid-item > .react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  cursor: se-resize;
}

.react-grid-item > .react-resizable-handle::after {
  content: "";
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 5px;
  height: 5px;
  border-right: 2px solid rgba(0, 0, 0, 0.4);
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

/* Editor */

.popup {
  display: flex;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
}

input {
  border: none;
  background: transparent;
  border-bottom: 2px solid var(--darkerLight);
  padding: 10px;
  color: var(--dark);
  font-size: 2em;
}
input::placeholder {
  color: var(--darkerLight);
}
:focus {
  outline: none;
}

#editor-window {
  background: var(--light);
  color: var(--dark);
  width: 80vw;
  height: 80vh;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 20px;
  z-index: 1000;
}

.RichEditor-content {
  margin-top: 20px;
  height: 50vh;
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: left;
  border-top: solid 1px var(--darkerLight);
  padding: 5px;
}

.Readble-content {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: left;
}

.RichEditor-root {
  background: var(--light);
  font-family: "Raleway", serif;
  font-size: 14px;
}

.RichEditor-editor {
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}

.RichEditor-editor .public-DraftEditor-content {
  min-height: 100px;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid var(--darkerLight);
  font-family: "Hoefler Text", "Georgia", serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: "Oxygen Mono", "Consolas", monospace;
  font-size: 16px;
  padding: 20px;
}

.RichEditor-controls {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
}

.RichEditor-styleButton {
  color: var(--darkerLight);
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}

.RichEditor-activeButton {
  color: var(--accent);
}

/* EditorWindow */
.EditorWindow-SaveButton {
  position: fixed;
  bottom: 8vh;
  right: 10vw;
  width: 50px;
  height: 50px;
}

.GridItem-EditButton {
  height: 15%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.4);
}

button {
  background-color: transparent;
  border: none;
}
.toggleable {
  transition: color 300ms;
}
.toggleable:hover {
  color: var(--accent);
}
.toggled {
  color: var(--accent);
}

.ImageItem {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-left: 0;
}

.TextItem {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding-left: 5px;
  background-color: var(--dark);
}

.edit-bar {
  position: fixed;
  left: 0;
  top: 0;
  width: 20px;
}

#image-window {
  background: var(--light);
  color: var(--dark);
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 20px;
  z-index: 1000;
}

.Gallery-Title {
  color: var(--dark);
}
